<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nova" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Excluir" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Exportar" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="products()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'client_name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} marcas"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gerenciar Marcas</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="id" style="min-width: 16rem">
                ID
                <p-sortIcon field="id" />
            </th>
            <th pSortableColumn="name" style="min-width:16rem">
                Nome
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="client_name" style="min-width:16rem">
                Cliente
                <p-sortIcon field="client_name" />
            </th>
            <th pSortableColumn="status" style="min-width: 10rem">
                Status
                <p-sortIcon field="status" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="product" />
            </td>
            <td style="min-width: 16rem">{{ product.id }}</td>
            <td style="min-width: 16rem">{{ product.name }}</td>
            <td style="min-width: 16rem">{{ product.client_name }}</td>
            <td>
                <p-tag [value]="getStatusLabel(product.status)" [severity]="getSeverity(product.status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(product)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Detalhes da Marca" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="client" class="block font-bold mb-3">Cliente</label>
                <p-select [(ngModel)]="product.client_id" inputId="client" [options]="clients" optionLabel="label" optionValue="value" placeholder="Selecione um Cliente" fluid required />
                <small class="text-red-500" *ngIf="submitted && !product.client_id">Campo obrigatório</small>
            </div>

            <div>
                <label for="status" class="block font-bold mb-3">Status</label>
                <p-select [(ngModel)]="product.status" inputId="status" [options]="statuses" optionLabel="label" optionValue="value" placeholder="Selecione um Status" fluid required />
                <small class="text-red-500" *ngIf="submitted && !product.status">Campo obrigatório</small>
            </div>

            <div>
                <label for="name" class="block font-bold mb-3">Nome</label>
                <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !product.name">Campo obrigatório</small>
            </div>

        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Salvar" icon="pi pi-check" (click)="saveProduct()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
