<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Novo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Excluir" icon="pi pi-trash" outlined (onClick)="deleteSelectedSubCategories()" [disabled]="!selectedSubCategories || !selectedSubCategories.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Exportar" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="subCategories()"
    [rows]="50"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['id_subcategory', 'st_subcategory', 'st_status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedSubCategories"
    [rowHover]="true"
    dataKey="id_subcategory"
    currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} subcategorias"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[50, 100, 200, 300]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gerenciar Subcategorias</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="id_category" style="min-width: 12rem">
                Categoria
                <p-sortIcon field="id_category" />
            </th>
            <th pSortableColumn="st_subcategory" style="min-width: 16rem">
                Subcategoria
                <p-sortIcon field="st_subcategory" />
            </th>
            <th pSortableColumn="st_status" style="min-width: 10rem">
                Status
                <p-sortIcon field="st_status" />
            </th>
            <th style="min-width: 8rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-subCategory>
        <tr>
            <td>
                <p-tableCheckbox [value]="subCategory" />
            </td>
            <td>{{ getCategoryName(subCategory.id_category) }}</td>
            <td>{{ subCategory.st_subcategory }}</td>
            <td>
                <p-tag [value]="getStatusLabel(subCategory.st_status)" [severity]="getSeverity(subCategory.st_status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editSubCategory(subCategory)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteSubCategory(subCategory)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="subCategoryDialog" [style]="{ width: '450px' }" header="Detalhes da Subcategoria" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="category" class="block font-bold mb-3">Categoria</label>
                <p-select [(ngModel)]="subCategory.id_category" inputId="category" [options]="categories()" optionLabel="st_category" optionValue="id_category" placeholder="Selecione uma Categoria" [required]="true" fluid />
                <small class="text-red-500" *ngIf="submitted && !subCategory.id_category">Categoria é obrigatória.</small>
            </div>
            <div>
                <label for="status" class="block font-bold mb-3">Status</label>
                <p-select [(ngModel)]="subCategory.st_status" inputId="status" [options]="statuses" optionLabel="label" optionValue="value" placeholder="Selecione um Status" [required]="true" fluid />
                <small class="text-red-500" *ngIf="submitted && !subCategory.st_status">Status é obrigatório.</small>
            </div>            
            <div>
                <label for="description" class="block font-bold mb-3">Descrição</label>
                <input type="text" pInputText id="description" [(ngModel)]="subCategory.st_subcategory" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !subCategory.st_subcategory">Descrição é obrigatória.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Salvar" icon="pi pi-check" (click)="saveSubCategory()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
