<p-toast />
<p-toast position="bottom-right" key="export" />

<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button 
            label="Denunciar"
            icon="pi pi-thumbs-down"
            severity="primary"
            outlined
            class="mr-2"
            [disabled]="!selectedAdvertisements || !selectedAdvertisements.length"
            (onClick)="reportAdvertisements()"
        />
        <p-button
            label="Revisão Manual"
            icon="pi pi-tag"
            severity="info"
            outlined
            [disabled]="!selectedAdvertisements || !selectedAdvertisements.length"
            (onClick)="invalidateAdvertisements()"
        />
    </ng-template>

    <ng-template #end>
        <p-button
            label="Denunciados"
            icon="pi pi-file-export"
            severity="danger"
            class="mr-2"
            (onClick)="exportReported()"
        />
        <p-button
            label="Selecionados"
            icon="pi pi-file-export"
            severity="help"
            outlined
            [disabled]="!selectedAdvertisements || !selectedAdvertisements.length"
            (onClick)="exportSelected()"
        />
    </ng-template>
</p-toolbar>


<p-panel #panel [toggleable]="true" [collapsed]="true">
    <ng-template #header>
        <div class="flex items-center gap-2">
            <i class="pi pi-shop"></i>
            <span class="font-bold">Gestão de Anúncios</span>
        </div>
    </ng-template>
    <ng-template #icons>
        <p-button icon="pi pi-refresh" severity="primary" rounded text (click)="loadData(undefined)" pTooltip="Atualizar" tooltipPosition="top" />
        <p-button icon="pi pi-eraser" severity="danger" rounded text (click)="clearFilters(dt)" pTooltip="Limpar Filtros" tooltipPosition="top" />
        <p-button icon="pi pi-search" severity="info" rounded text (click)="dt.reset()" pTooltip="Aplicar Filtros" tooltipPosition="top" />
    </ng-template>
    <p-fluid>
        <div class="grid grid-cols-4 gap-4">
            <div>
                <p-iftalabel>
                    <p-select [(ngModel)]="filters['st_status']" inputId="st_status" [options]="statuses" optionLabel="label" styleClass="w-full" />
                    <label for="st_status">Status</label>
                </p-iftalabel>
            </div>
            <div>
                <p-iftalabel>
                    <input pInputText id="st_plataform_id" [(ngModel)]="filters['st_plataform_id']" />
                    <label for="st_plataform_id">Plataforma ID</label>
                </p-iftalabel>
            </div>
            <div>
                <p-iftalabel>
                    <p-inputnumber [(ngModel)]="filters['st_price_min']" mode="currency" inputId="st_price_min" currency="BRL" locale="pt-BR" />
                    <label for="st_price_min">Preço Mínimo</label>
                </p-iftalabel>
            </div>
            <div>
                <p-iftalabel>
                    <p-inputnumber [(ngModel)]="filters['st_price_max']" mode="currency" inputId="st_price_max" currency="BRL" locale="pt-BR" />
                    <label for="st_price_max">Preço Máximo</label>
                </p-iftalabel>
            </div>

            <div class="col-span-2">
                <p-iftalabel>
                    <input pInputText id="st_name" [(ngModel)]="filters['st_name']" />
                    <label for="st_name">Cliente</label>
                </p-iftalabel>
            </div>
            <div>
                <p-iftalabel>
                    <input pInputText id="st_brand" [(ngModel)]="filters['st_brand']" />
                    <label for="st_brand">Marca</label>
                </p-iftalabel>
            </div>
            <div>
                <p-iftalabel>
                    <input pInputText id="st_product" [(ngModel)]="filters['st_product']" />
                    <label for="st_product">Produto</label>
                </p-iftalabel>
            </div>
            <div class="col-span-full">
                <p-iftalabel>
                    <input pInputText id="st_title" [(ngModel)]="filters['st_title']" />
                    <label for="st_title">Título do Anúncio</label>
                </p-iftalabel>
            </div>
        </div>
    </p-fluid>
</p-panel>

<p-table
    #dt
    [value]="advertisements()"
    [rows]="50"
    [paginator]="true"
    [lazy]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedAdvertisements"
    [rowHover]="true"
    [totalRecords]="page.total"
    dataKey="id_advertisement"
    currentPageReportTemplate="Exibindo do {first} ao {last} de {totalRecords} Registros Advertisements"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[50, 100, 200, 300]"
    [loading]="loading"
    (onLazyLoad)="loadData($event)"
    [(rows)]="page.limit"
    [lazyLoadOnInit]="true"
>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="st_plataform" style="min-width: 10rem">
                Plataforma
                <p-sortIcon field="st_plataform" />
            </th>
            <th pSortableColumn="st_plataform_id" style="min-width:10rem">
                ID Plataforma
                <p-sortIcon field="st_plataform_id" />
            </th>
            <th pSortableColumn="st_name" style="min-width: 20rem">
                Cliente
                <p-sortIcon field="st_name" />
            </th>
            <th pSortableColumn="st_brand" style="min-width: 20rem">
                Marca
                <p-sortIcon field="st_brand" />
            </th>
            <th pSortableColumn="st_product" style="min-width:20rem">
                Produto
                <p-sortIcon field="st_product" />
            </th>
            <th pSortableColumn="st_title" style="min-width: 30rem">
                Título
                <p-sortIcon field="st_title" />
            </th>
            <th pSortableColumn="db_price" style="min-width: 9rem">
                Preço
                <p-sortIcon field="db_price" />
            </th>
            <th pSortableColumn="st_status" style="min-width: 10rem">
                Status
                <p-sortIcon field="st_status" />
            </th>
            <th style="min-width: 8rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-advertisement>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="advertisement" />
            </td>
            <td style="min-width: 12rem">{{ advertisement.st_plataform }}</td>
            <td style="min-width: 16rem">{{ advertisement.st_plataform_id }}</td>
            <td>{{ advertisement.st_name }}</td>
            <td>{{ advertisement.st_brand }}</td>
            <td>{{ advertisement.st_product }}</td>
            <td>{{ advertisement.st_title }}</td>
            <td>{{ advertisement.db_price | currency: 'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
            <td>
                <p-tag [value]="getStatus(advertisement.st_status)" [severity]="getSeverity(advertisement.st_status)"/>
            </td>
            <td>
                <p-button icon="pi pi-eye"           class="mr-2" [rounded]="true" [outlined]="true" severity="info" (onClick)="viewAdvertisement(advertisement)" />
                <p-button icon="pi pi-external-link" class="mr-2" [rounded]="true" [outlined]="true" severity="help" (onClick)="openUrl(advertisement)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmdialog [style]="{ width: '450px' }" />
