<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Denunciar" icon="pi pi-plus" severity="secondary" class="mr-2" [disabled]="!selectedAdvertisements || !selectedAdvertisements.length" />
        <p-button label="Invalidar" icon="pi pi-trash" severity="secondary" outlined [disabled]="!selectedAdvertisements || !selectedAdvertisements.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Exportar Denunciados" icon="pi pi-upload" severity="secondary" class="mr-2" (onClick)="exportCSV()" />
        <p-button label="Exportar Selecionados" icon="pi pi-upload" severity="secondary" outlined (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="Advertisements()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedAdvertisements"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Advertisements"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Advertisements</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="st_plataform" style="min-width: 16rem">
                Plataforma
                <p-sortIcon field="st_plataform" />
            </th>
            <th pSortableColumn="st_plataform_id" style="min-width:16rem">
                ID Plataforma
                <p-sortIcon field="st_plataform_id" />
            </th>
            <th pSortableColumn="st_brand" style="min-width: 8rem">
                Marca
                <p-sortIcon field="st_brand" />
            </th>
            <th pSortableColumn="st_product" style="min-width:10rem">
                Produto
                <p-sortIcon field="st_product" />
            </th>
            <th pSortableColumn="st_title" style="min-width: 12rem">
                Título
                <p-sortIcon field="st_title" />
            </th>
            <th pSortableColumn="db_price" style="min-width: 12rem">
                Preço
                <p-sortIcon field="db_price" />
            </th>
            <th pSortableColumn="st_status" style="min-width: 12rem">
                Status
                <p-sortIcon field="st_status" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-advertisement>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="advertisement" />
            </td>
            <td style="min-width: 12rem">{{ advertisement.st_plataform }}</td>
            <td style="min-width: 16rem">{{ advertisement.st_plataform_id }}</td>
            <td>{{ advertisement.st_brand }}</td>
            <td>{{ advertisement.st_product }}</td>
            <td>{{ advertisement.st_title }}</td>
            <td>{{ advertisement.db_price | currency: 'BRL' }}</td>
            <td>
                <p-tag [value]="advertisement.st_status" [severity]="getSeverity(advertisement.st_status)"/>
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmdialog [style]="{ width: '450px' }" />
