<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nova" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Excluir" icon="pi pi-trash" outlined (onClick)="deleteSelectedBrands()" [disabled]="!selectedBrands || !selectedBrands.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Exportar" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="brands()"
    [totalRecords]="page.total"
    [columns]="cols"
    [paginator]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedBrands"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} marcas"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[50, 100, 200, 300]"
    [lazy]="true"
    (onLazyLoad)="loadBrandData($event)"
    [(rows)]="page.limit"
    [lazyLoadOnInit]="true"
    [loading]="loading"
> 
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
                <i class="pi pi-id-card"></i>
                <span class="font-bold">Gestão de Marcas</span>
            </div>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="st_client" style="min-width:16rem">
                Cliente
                <p-sortIcon field="st_client" />
            </th>            
            <th pSortableColumn="st_brand" style="min-width:16rem">
                Marca
                <p-sortIcon field="st_brand" />
            </th>
            <th pSortableColumn="st_status" style="min-width: 10rem">
                Status
                <p-sortIcon field="st_status" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-brand>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="brand" />
            </td>
            <td style="min-width: 16rem">{{ brand.client_name }}</td>
            <td style="min-width: 16rem">{{ brand.name }}</td>
            <td>
                <p-tag [value]="getStatusLabel(brand.status)" [severity]="getSeverity(brand.status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editBrand(brand)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteBrand(brand)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmdialog [style]="{ width: '450px' }" />
