<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <div class="flex items-center gap-2">
            <i class="pi pi-users"></i>
            <span class="font-bold">Gestão de Clientes - {{ isEditing ? 'Editar Cliente' : 'Novo Cliente' }}</span>
        </div>
    </ng-template>

    <ng-template #end>
        <p-button label="Voltar" icon="pi pi-arrow-left" severity="secondary" (click)="goBack()" />
    </ng-template>
</p-toolbar>

<div class="card">
    <form [formGroup]="companyForm" (ngSubmit)="saveCompany()">
        <div class="flex flex-col gap-6 p-4">
            <div>
                <label for="name" class="block font-bold mb-3">Nome</label>
                <input type="text" pInputText id="name" formControlName="name" required autofocus [style]="{'width':'100%'}" />
                <small class="text-red-500" *ngIf="companyForm.get('name')?.errors?.['required'] && companyForm.get('name')?.touched">
                    Nome é obrigatório.
                </small>
            </div>

            <div>
                <label class="block font-bold mb-3">Tipo de Pessoa</label>
                <div class="flex gap-4">
                    <div class="flex items-center">
                        <p-radioButton name="personType" value="PF" formControlName="personType" [inputId]="'pf'"></p-radioButton>
                        <label [for]="'pf'" class="ml-2">Pessoa Física</label>
                    </div>
                    <div class="flex items-center">
                        <p-radioButton name="personType" value="PJ" formControlName="personType" [inputId]="'pj'"></p-radioButton>
                        <label [for]="'pj'" class="ml-2">Pessoa Jurídica</label>
                    </div>
                </div>
            </div>

            <div>
                <label for="identication" class="block font-bold mb-3">{{ companyForm.get('personType')?.value === 'PF' ? 'CPF' : 'CNPJ' }}</label>
                <input type="text" pInputText id="identication" formControlName="identification" (input)="validateCompanyIdentification()" [readonly]="isEditing" required [style]="{'width':'100%'}" />
                <small class="text-red-500" *ngIf="companyForm.get('identification')?.errors?.['required'] && companyForm.get('identification')?.touched">
                    {{ companyForm.get('personType')?.value === 'PF' ? 'CPF' : 'CNPJ' }} é obrigatório
                </small>
                <small class="text-red-500" *ngIf="companyForm.get('identification')?.errors?.['invalidCpf'] && companyForm.get('identification')?.touched">
                    CPF inválido
                </small>
                <small class="text-red-500" *ngIf="companyForm.get('identification')?.errors?.['invalidCnpj'] && companyForm.get('identification')?.touched">
                    CNPJ inválido
                </small>
                <small class="text-red-500" *ngIf="companyForm.get('identification')?.errors?.['duplicated'] && companyForm.get('identification')?.touched">
                    {{ companyForm.get('personType')?.value === 'PF' ? 'CPF' : 'CNPJ' }} já cadastrado
                </small>
            </div>

            <div>
                <label for="status" class="block font-bold mb-3">Status</label>
                <p-select formControlName="status" inputId="status" [options]="statuses" optionLabel="label" optionValue="value" placeholder="Selecione o Status" [style]="{'width':'100%'}" />
            </div>
        </div>

        <div class="flex justify-end gap-2 p-4 border-t-1">
            <p-button type="submit" label="Salvar" icon="pi pi-check" [disabled]="!companyForm.valid" />
        </div>
    </form>
</div>