<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <div class="flex items-center gap-2">
            <i class="pi pi-bookmark"></i>
            <span class="font-bold">Gestão de Subcategorias - {{ isEditing ? 'Editar Subcategoria' : 'Nova Subcategoria' }}</span>
        </div>
    </ng-template>

    <ng-template #end>
        <p-button label="Voltar" icon="pi pi-arrow-left" severity="secondary" (click)="goBack()" />
    </ng-template>
</p-toolbar>

<div class="card">
    <form (ngSubmit)="saveSubCategory()">
        <div class="flex flex-col gap-6 p-4">
            <div>
                <label for="category" class="block font-bold mb-3">Categoria</label>
                <p-select [(ngModel)]="subCategory.id_category" name="id_category" inputId="category" [options]="categories()" optionLabel="st_category" optionValue="id_category" placeholder="Selecione uma Categoria" [style]="{'width': '100%'}" required />
                <small class="text-red-500" *ngIf="submitted && !subCategory.id_category">Categoria é obrigatória.</small>
            </div>

            <div>
                <label for="description" class="block font-bold mb-3">Descrição</label>
                <input type="text" pInputText id="description" name="description" [(ngModel)]="subCategory.st_subcategory" required autofocus [style]="{'width': '100%'}" />
                <small class="text-red-500" *ngIf="submitted && !subCategory.st_subcategory">Descrição é obrigatória.</small>
            </div>

            <div>
                <label for="status" class="block font-bold mb-3">Status</label>
                <p-select [(ngModel)]="subCategory.st_status" name="st_status" inputId="status" [options]="statuses" optionLabel="label" optionValue="value" placeholder="Selecione um Status" [style]="{'width': '100%'}" required />
                <small class="text-red-500" *ngIf="submitted && !subCategory.st_status">Status é obrigatório.</small>
            </div>
        </div>

        <div class="flex justify-end gap-2 p-4 border-t-1">
            <p-button type="button" label="Voltar" icon="pi pi-arrow-left" text (click)="goBack()" />
            <p-button type="submit" label="Salvar" icon="pi pi-check" />
        </div>
    </form>
</div>