<p-toast />
<p-confirmdialog [style]="{ width: '450px' }" />
<p-dialog [header]="titleModal" [(visible)]="displayModal" [style]="{width: '450px'}" [modal]="true" [draggable]="false" [resizable]="false">
    <div class="grid">
        <div class="col-12 mb-3" *ngIf="!isEditQuantityProduct">
            <p-iftalabel>
                <p-select [(ngModel)]="selectedProduct" inputId="product" [options]="filteredProducts" optionLabel="st_product" styleClass="w-full" (onChange)="onProductChange()" 
                    (onFilter)="filterProducts($event)" [filter]="true" placeholder="Selecione um Produto" [loading]="loading" [disabled]="isEditQuantityProduct"/>
                <label for="product">Produto</label>
            </p-iftalabel>
        </div>
        <div class="col-12 mb-3" *ngIf="!isEditQuantityProduct">
            <p-iftalabel>
                <p-select [(ngModel)]="selectedVariety" inputId="variety" [options]="availableVarieties" optionLabel="variety" styleClass="w-full" [disabled]="isEditQuantityProduct"/>
                <label for="variety">Variedade</label>
            </p-iftalabel>
        </div>
        <div class="col-12 mb-3">
            <p-iftalabel>
                <p-inputnumber [(ngModel)]="quantity" inputId="quantity" [min]="1" styleClass="w-full"/>
                <label for="quantity">Quantidade</label>
            </p-iftalabel>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button label="Cancelar" icon="pi pi-times" (onClick)="displayModal = false" severity="secondary" />
        <p-button label="Salvar" icon="pi pi-check" (onClick)="saveProduct()" />
    </ng-template>
</p-dialog>
<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <div class="flex items-center gap-2">
            <i class="pi pi-shop"></i>
            <span class="font-bold">Gestão de Anúncios</span>
        </div>
    </ng-template>

    <ng-template #end>
        <p-button label="Voltar" icon="pi pi-history" severity="secondary" (click)="goBack()" />
    </ng-template>
</p-toolbar>

<p-panel>
    <ng-template #header>
        <div class="flex items-center gap-2">
            <i class="pi pi-shopping-cart"></i>
            <span class="font-bold">Dados do Anúncio</span>
        </div>
    </ng-template>
    <ng-template #icons>
        <p-button icon="pi pi-thumbs-up" severity="success" rounded text pTooltip="Revisado" tooltipPosition="top" (onClick)="reviewedAdvertisement()" />
        <p-button icon="pi pi-thumbs-down" severity="danger" rounded text pTooltip="Denunciar" tooltipPosition="top" (onClick)="reportAdvertisement()" />
        <p-button icon="pi pi-tag" severity="info" rounded text pTooltip="Revisão Manual" tooltipPosition="top" (onClick)="toReviewAdvertisement()" />
        <p-button icon="pi pi-trash" severity="secondary" rounded text pTooltip="Invalidação Manual" tooltipPosition="top" (onClick)="invalidateAdvertisement()" />
    </ng-template>
    <p-fluid>
        <div class="grid grid-cols-5 gap-4">
            <div>
                <p-iftalabel>
                    <p-select [(ngModel)]="advertisement.st_status" inputId="st_status" [options]="statuses" optionLabel="label" styleClass="w-full" readonly="true"/>
                    <label for="st_status">Status</label>
                </p-iftalabel>
            </div>
            <div>
                <p-iftalabel>
                    <input pInputText id="st_plataform" [(ngModel)]="advertisement.st_plataform"  readonly="true"/>
                    <label for="st_plataform">Plataforma</label>
                </p-iftalabel>
            </div>
            <div>
                <p-iftalabel>
                    <input pInputText id="st_plataform_id" [(ngModel)]="advertisement.st_plataform_id" readonly="true"/>
                    <label for="st_plataform_id">Plataforma ID</label>
                </p-iftalabel>
            </div>
            <div>
                <p-iftalabel>
                    <p-inputnumber [(ngModel)]="advertisement.db_price" mode="currency" inputId="db_price" currency="BRL" locale="pt-BR" readonly="true"/>
                    <label for="db_price">Preço</label>
                </p-iftalabel>
            </div>
            <div>
                <p-iftalabel>
                    <p-inputnumber [(ngModel)]="advertisement.db_original_price" mode="currency" inputId="db_original_price" currency="BRL" locale="pt-BR" readonly="true"/>
                    <label for="db_original_price">Preço Original</label>
                </p-iftalabel>
            </div>

            <div class="col-span-3">
                <p-iftalabel>
                    <input pInputText id="st_name" [(ngModel)]="client.st_name"  readonly="true"/>
                    <label for="st_name">Cliente</label>
                </p-iftalabel>
            </div>
            <div>
                <p-iftalabel>
                    <input pInputText id="st_brand" [(ngModel)]="brand.st_brand"  readonly="true"/>
                    <label for="st_brand">Marca</label>
                </p-iftalabel>
            </div>
            <div>
                <p-iftalabel>
                    <input pInputText id="st_vendor" [(ngModel)]="advertisement.st_vendor"  readonly="true"/>
                    <label for="st_vendor">Vendedor</label>
                </p-iftalabel>
            </div>
            <div class="col-span-full">
                <p-galleria [value]="advertisement.st_photos?.split(',')" indicatorsPosition="left" [showIndicators]="true" [showThumbnails]="false" showIndicatorsOnItem="false" [containerStyle]="{ 'margin-top': '2em' }" >
                    <ng-template pTemplate="item" let-item>
                        <img [src]="advertisementService.getPhotoUrl(advertisement.st_plataform!, advertisement.st_plataform_id!, item)" style="width: 100%; max-width: 640px; max-height: 640px; display: block;" />
                    </ng-template>
                </p-galleria>
            </div>
            <div class="col-span-full">
                <p-iftalabel>
                    <input pInputText id="st_title" [(ngModel)]="advertisement.st_title" readonly="true" />
                    <label for="st_title">Título do Anúncio</label>
                </p-iftalabel>
            </div>
            <div class="col-span-full">
                <p-inputgroup>
                    <p-iftalabel>
                        <input pInputText id="st_url" [(ngModel)]="advertisement.st_url"  readonly="true"/>
                        <label for="st_url">URL</label>
                    </p-iftalabel>
                    <p-inputgroup-addon>
                        <p-button icon="pi pi-external-link" severity="contrast" outlined="true" [ngStyle]="{'height': '100%'}" (onClick)="openUrl()" />
                    </p-inputgroup-addon>
                </p-inputgroup>
            </div>
            <div class="col-span-full">
                <p-iftalabel>
                    <textarea pTextarea id="st_description" [(ngModel)]="advertisement.st_description" rows="20" cols="30" style="resize: none" readonly="true"></textarea>
                    <label for="st_description">Descrição</label>
                </p-iftalabel>
            </div>
        </div>
    </p-fluid>
</p-panel>
<br />
<p-panel>
    <ng-template #header>
        <div class="flex items-center gap-2">
            <i class="pi pi-shopping-cart"></i>
            <span class="font-bold">Produtos</span>
        </div>
    </ng-template>
    <ng-template #icons>
        <p-button label="Novo" icon="pi pi-plus" severity="secondary" (onClick)="showModal()" />
    </ng-template>
    <p-table
        #dt
        [value]="products || []"
        [rows]="50"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
    >
        <ng-template #header>
            <tr>
                <th pSortableColumn="st_name" style="min-width: 10rem">
                    Categoria
                    <p-sortIcon field="st_name" />
                </th>
                <th pSortableColumn="st_brand" style="min-width: 10rem">
                    Subcategoria
                    <p-sortIcon field="st_brand" />
                </th>
                <th pSortableColumn="st_product" style="min-width: 10rem">
                    Produto
                    <p-sortIcon field="st_product" />
                </th>
                <th pSortableColumn="st_variety" style="min-width: 8rem">
                    Variedade
                    <p-sortIcon field="st_variety" />
                </th>
                <th pSortableColumn="db_price" style="min-width: 6rem">
                    Preço Base
                    <p-sortIcon field="db_price" />
                </th>
                <th pSortableColumn="db_quantity" style="min-width: 6rem">
                    Qtde
                    <p-sortIcon field="db_quantity" />
                </th>
                <th pSortableColumn="st_status" style="min-width: 8rem">
                    Status
                    <p-sortIcon field="st_status" />
                </th>
                <th style="min-width: 10rem"></th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>{{ product.subcategory.category.st_category }}</td>
                <td>{{ product.subcategory.st_subcategory }}</td>
                <td>{{ product.st_product }}</td>
                <td>{{ product.st_variety_name }}</td>
                <td>{{ product.db_price | currency: 'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
                <td>{{ getQuantity(product.nr_quantity) }}</td>
                <td>{{ getStatusProduct(product.st_status) }}</td>
                <td>
                    <p-splitbutton label="Ações" appendTo="body" [model]="product.items" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
<br />
<p-panel>
    <ng-template #header>
        <div class="flex items-center gap-2">
            <i class="pi pi-history"></i>
            <span class="font-bold">Histórico</span>
        </div>
    </ng-template>
    <p-table
        #dt
        [value]="history || []"
        [rows]="50"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
    >
        <ng-template #header>
            <tr>
                <th pSortableColumn="dt_history" style="min-width: 10rem">
                    Data
                    <p-sortIcon field="dt_history" />
                </th>
                <th pSortableColumn="st_action" style="min-width:15rem">
                    Processo
                    <p-sortIcon field="st_action" />
                </th>
                <th pSortableColumn="st_created_by" style="min-width:25rem">
                    Executado por
                    <p-sortIcon field="st_created_by" />
                </th>
                <th pSortableColumn="st_status" style="min-width: 10rem">
                    Status
                    <p-sortIcon field="st_status" />
                </th>
                <!--th style="min-width:4rem"></th-->
            </tr>
        </ng-template>
        <ng-template #body let-advertisement>
            <tr>
                <td>{{ advertisement.dt_history | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                <td>{{ getAction(advertisement.st_action) }}</td>
                <td>{{ advertisement.st_created_by }}</td>
                <td>{{ getStatus(advertisement.st_status) }}</td>
                <!--td><p-button icon="pi pi-eye" class="mr-2" [rounded]="true" [outlined]="true" (onClick)="viewHistory(advertisement)" /></td-->
            </tr>
        </ng-template>
    </p-table>
</p-panel>