<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Novo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Excluir" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Exportar" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="products()"
    [rows]="10"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['id_product', 'st_client', 'st_brand', 'st_category', 'st_subcategory', 'st_product', 'st_status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="id_product"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} produtos"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Gerenciar Produtos</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="id_product" style="min-width:8rem">
                ID
                <p-sortIcon field="id_product" />
            </th>
            <th pSortableColumn="st_client" style="min-width:12rem">
                Cliente
                <p-sortIcon field="st_client" />
            </th>
            <th pSortableColumn="st_brand" style="min-width:12rem">
                Marca
                <p-sortIcon field="st_brand" />
            </th>
            <th pSortableColumn="st_category" style="min-width:12rem">
                Categoria
                <p-sortIcon field="st_category" />
            </th>
            <th pSortableColumn="st_subcategory" style="min-width:12rem">
                Subcategoria
                <p-sortIcon field="st_subcategory" />
            </th>
            <th pSortableColumn="st_product" style="min-width:16rem">
                Descrição
                <p-sortIcon field="st_product" />
            </th>
            <th pSortableColumn="st_status" style="min-width:10rem">
                Status
                <p-sortIcon field="st_status" />
            </th>
            <th style="min-width: 8rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td>
                <p-tableCheckbox [value]="product" />
            </td>
            <td>{{ product.id_product }}</td>
            <td>{{ product.st_client }}</td>
            <td>{{ product.st_brand }}</td>
            <td>{{ product.st_category }}</td>
            <td>{{ product.st_subcategory }}</td>
            <td>{{ product.st_product }}</td>
            <td>
                <p-tag [value]="getStatusLabel(product.st_status)" [severity]="getSeverity(product.st_status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(product)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Detalhes do Produto" [modal]="true">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="status" class="block font-bold mb-3">Status *</label>
                <p-select [(ngModel)]="product.st_status" inputId="status" [options]="statuses" optionLabel="label" optionValue="value" 
                    placeholder="Selecione um Status" [required]="true" fluid />
                <small class="text-red-500" *ngIf="submitted && !product.st_status">Status é obrigatório.</small>
            </div>

            <div>
                <label for="client" class="block font-bold mb-3">Cliente *</label>
                <p-select [(ngModel)]="selectedClient" inputId="client" [options]="clients" optionLabel="st_name" optionValue="id" 
                    placeholder="Selecione um Cliente" (onChange)="onClientChange($event)" [required]="true" fluid />
                <small class="text-red-500" *ngIf="submitted && !selectedClient">Cliente é obrigatório.</small>
            </div>

            <div>
                <label for="brand" class="block font-bold mb-3">Marca *</label>
                <p-select [(ngModel)]="product.id_brand" inputId="brand" [options]="brands" optionLabel="st_brand" optionValue="id_brand" 
                    placeholder="Selecione uma Marca" [required]="true" [disabled]="!selectedClient" fluid />
                <small class="text-red-500" *ngIf="submitted && !product.id_brand">Marca é obrigatória.</small>
            </div>

            <div>
                <label for="category" class="block font-bold mb-3">Categoria *</label>
                <p-select [(ngModel)]="selectedCategory" inputId="category" [options]="categories" optionLabel="st_category" optionValue="id_category" 
                    placeholder="Selecione uma Categoria" (onChange)="onCategoryChange($event)" [required]="true" fluid />
                <small class="text-red-500" *ngIf="submitted && !selectedCategory">Categoria é obrigatória.</small>
            </div>

            <div>
                <label for="subcategory" class="block font-bold mb-3">Subcategoria *</label>
                <p-select [(ngModel)]="product.id_subcategory" inputId="subcategory" [options]="subcategories" optionLabel="st_subcategory" optionValue="id_subcategory" 
                    placeholder="Selecione uma Subcategoria" [required]="true" [disabled]="!selectedCategory" fluid />
                <small class="text-red-500" *ngIf="submitted && !product.id_subcategory">Subcategoria é obrigatória.</small>
            </div>

            <div>
                <label for="product" class="block font-bold mb-3">Descrição *</label>
                <input type="text" pInputText id="product" [(ngModel)]="product.st_product" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !product.st_product">Descrição é obrigatória.</small>
            </div>

            <div>
                <label for="variety" class="block font-bold mb-3">Variedade *</label>
                <input type="text" pInputText id="variety" [(ngModel)]="product.st_variety" required fluid />
                <small class="text-red-500" *ngIf="submitted && !product.st_variety">Variedade é obrigatória.</small>
            </div>

            <div>
                <label for="floorPrice" class="block font-bold mb-3">Preço de Piso da Variedade *</label>
                <p-inputNumber id="floorPrice" [(ngModel)]="vl_floor_price" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2" 
                    locale="pt-BR" [required]="true" placeholder="0,00" fluid />
                <small class="text-red-500" *ngIf="submitted && !vl_floor_price">Preço de Piso é obrigatório.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancelar" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Salvar" icon="pi pi-check" (click)="saveProduct()" />
    </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
