<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Novo" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Excluir" icon="pi pi-trash" outlined (onClick)="deleteSelectedSubCategories()" [disabled]="!selectedSubCategories || !selectedSubCategories.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Exportar" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="subCategories()"
    [rows]="50"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['id_subcategory', 'category.st_category', 'st_subcategory', 'st_status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedSubCategories"
    [rowHover]="true"
    dataKey="id_subcategory"
    currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} subcategorias"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[50, 100, 200, 300]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-2">
                <i class="pi pi-bookmark"></i>
                <span class="font-bold">Gestão de Subcategorias</span>
            </div>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="category.st_category" style="min-width: 12rem">
                Categoria
                <p-sortIcon field="category.st_category" />
            </th>
            <th pSortableColumn="st_subcategory" style="min-width: 16rem">
                Subcategoria
                <p-sortIcon field="st_subcategory" />
            </th>
            <th pSortableColumn="st_status" style="min-width: 10rem">
                Status
                <p-sortIcon field="st_status" />
            </th>
            <th style="min-width: 8rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-subCategory>
        <tr>
            <td>
                <p-tableCheckbox [value]="subCategory" />
            </td>
            <td>{{ subCategory.category.st_category }}</td>            
            <td>{{ subCategory.st_subcategory }}</td>
            <td>
                <p-tag [value]="getStatusLabel(subCategory.st_status)" [severity]="getSeverity(subCategory.st_status)" />
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editSubCategory(subCategory)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteSubCategory(subCategory)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmdialog [style]="{ width: '450px' }" />
