<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Clientes</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ clients || 'Carregando...' }}</div>
            </div>
            <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-users text-blue-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{ leads || 'Carregando...' }}</span>
        <span class="text-muted-color">&nbsp;Leads</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Marcas</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ brands || 'Carregando...' }}</div>
            </div>
            <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-id-card text-orange-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{ products || 'Carregando...' }}</span>
        <span class="text-muted-color">&nbsp;Produtos</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Palavras-chave</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ keywords || 'Carregando...' }}</div>
            </div>
            <div class="flex items-center justify-center bg-cyan-100 dark:bg-cyan-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-tags text-cyan-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{ avgKeywords || 'Carregando...' }}</span>
        <span class="text-muted-color">&nbsp;Palavras-chave/Marca</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Anúncios</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ ads || 'Carregando...' }}</div>
            </div>
            <div class="flex items-center justify-center bg-purple-100 dark:bg-purple-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-shopping-cart text-purple-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{ newAds || 'Carregando...' }}</span>
        <span class="text-muted-color">&nbsp;nas últimas 24 horas</span>
    </div>
</div>